<div class="layout-container row no-gutters">
  <div class="side-column left-column order-2 order-xl-1 col-xl-3 col-12">
    <div class="side-column-panel col-4 col-xl-12">
      <h5>Na skróty</h5>
      <p (click)="navigateAllTransmissions()">Przeglądaj transmisje</p>
      <p (click)="navigateAddTransmission()">Rozpocznij transmisje</p>
      <p (click)="navigateMyTransmissions()">Moje transmisje</p>
    </div>
  </div>

  <div class="middle-column order-1 order-xl-2 col-xl-6 col-12">
    <router-outlet></router-outlet>
  </div>

  <div class="side-column right-column order-3 col-xl-3 col-12">
    <div class="side-column-panel col-xl-12">
      <h5>Najnowsze transmisje</h5>
      <p *ngFor="let newestTransmission of newestTransmissions$ | async">
        {{newestTransmission.teamHome}} - {{newestTransmission.teamHome}}
        <br />
        {{newestTransmission.username}}, {{newestTransmission.startDate | dateAgo}}
      </p>
    </div>

    <div class="side-column-panel col-xl-12">
      <h5>Popularne transmisje</h5>
      <p *ngFor="let topTransmission of topTransmissions$ | async">
        {{topTransmission.teamHome}} - {{topTransmission.teamHome}}
        <br />
        {{topTransmission.username}}, {{topTransmission.viewersCount}} widzów
      </p>
    </div>

    <div class="side-column-panel col-xl-12">
      <h5>Top 10 użytkowników</h5>
      <p *ngFor="let standing of standings$ | async">
        {{standing.position}}. {{standing.username}} - {{standing.ratingPoints}} pkt.
      </p>
    </div>
  </div>
</div>
