<button class="transparent-button bordered-button" (click)="startConnection()">Start connection</button>
<button class="transparent-button bordered-button" (click)="sendTestMessage()">Send test message</button>
<button class="transparent-button bordered-button" (click)="sendTransmissionEvent()">Send Transmission Event</button>
<button class="transparent-button bordered-button" (click)="addToGroup()">Add to group</button>
<button class="transparent-button bordered-button" (click)="removeFromGroup()">Remove from group</button>
<button class="transparent-button bordered-button" (click)="closeConnection()">Close connection</button>