<div class="input-with-label">
  <input [id]="id"
         class="form-control"
         [formControl]="formCtrl"
         [type]="passwordVisible ? 'text' : 'password'"
         placeholder="{{label}}"
         [required]="required"
         spellcheck="false"
         autocomplete="off" />
  <label [for]="id">
    {{ label }}
  </label>
  <fa-icon [icon]="passwordVisible ? faEyeSlash : faEye"
           (click)="passwordToggle()">
  </fa-icon>
  <ng-content select="[validation]"></ng-content>
</div>
