<form class="login-form w-100"
      [formGroup]="editTransmissionForm"
      (ngSubmit)="onSubmit()">
  <app-modal-panel panelTitle="Edycja transmisji">

    <app-form-input type="text"
                    idPrefix="teamHome"
                    [formCtrl]="teamHome"
                    label="Gospodarze">
      <div validation
           *ngIf="submitted && teamHome.errors"
           class="invalid-feedback">
        <div *ngIf="teamHome.errors.required">Pole jest wymagane</div>
      </div>
    </app-form-input>

    <app-form-input type="text"
                    idPrefix="teamAway"
                    [formCtrl]="teamAway"
                    label="Goście">
      <div validation
           *ngIf="submitted && teamAway.errors"
           class="invalid-feedback">
        <div *ngIf="teamAway.errors.required">Pole jest wymagane</div>
      </div>
    </app-form-input>

    <app-form-input type="date"
                    idPrefix="eventDate"
                    [formCtrl]="eventDate"
                    label="Data wydarzenia">
      <div validation
           *ngIf="submitted && eventDate.errors"
           class="invalid-feedback">
        <div *ngIf="eventDate.errors.required">Pole jest wymagane</div>
      </div>
    </app-form-input>

    <app-form-input type="time"
                    idPrefix="eventTime"
                    [formCtrl]="eventTime"
                    label="Godzina wydarzenia">
      <div validation
           *ngIf="submitted && eventTime.errors"
           class="invalid-feedback">
        <div *ngIf="eventTime.errors.required">Pole jest wymagane</div>
      </div>
    </app-form-input>

    <!-- <app-date-time-input idPrefix="eventDate"
                         dateLabel="Data wydarzenia"
                         timeLabel="Godzina">
      <div validation
           *ngIf="submitted && eventDate.errors"
           class="invalid-feedback">
        <div *ngIf="eventDate.errors.required">Pole jest wymagane</div>
        [formControl]="eventDate"

    </div>
    </app-date-time-input> -->

    <div footer>
      <button type="submit"
              class="btn btn-success">
        Dodaj
      </button>
    </div>
  </app-modal-panel>

</form>
