<form class="login-form col-6"
      [formGroup]="loginFormGroup"
      (ngSubmit)="onSubmit()">

  <h4>Logowanie</h4>

  <app-form-input type="text"
                  idPrefix="username"
                  [formCtrl]="username"
                  label="Nazwa użytkownika">
    <div validation
         *ngIf="submitted && username.errors"
         class="invalid-feedback">
      <div *ngIf="username.errors.required">Nazwa użytkownika jest wymagana</div>
    </div>
  </app-form-input>
  <app-password-input idPrefix="password"
                      [formCtrl]="password"
                      label="Hasło">
    <div validation
         *ngIf="submitted && password.errors"
         class="invalid-feedback">
      <div *ngIf="password.errors.required">Hasło jest wymagane</div>
    </div>
  </app-password-input>

  <button class="login-button"
          type="submit">
    ZALOGUJ
  </button>

  <a>Nie pamiętam nazwy użytkownika lub hasła</a>

  <a [routerLink]="['/Register']"
     class="register-link">
    Nie masz konta? Zarejestruj się
  </a>

</form>
