<form class="login-form col-6"
      [formGroup]="loginFormGroup"
      (ngSubmit)="onSubmit()">

  <h4>Logowanie</h4>

  <app-form-input type="text"
                  controlName="username"
                  label="Nazwa użytkownika">
  </app-form-input>
  <app-password-input controlName="password"
                      label="Hasło">
  </app-password-input>

  <button class="login-button"
          type="submit">
    ZALOGUJ
  </button>

  <a>Nie pamiętam nazwy użytkownika lub hasła</a>

  <a [routerLink]="['/Register']"
     class="register-link">
    Nie masz konta? Zarejestruj się
  </a>

</form>
